// Import Google fonts - Manrope
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Define fonts for body and headers
$body-font: "Manrope", sans-serif;
$headers-font: "Manrope", sans-serif;

// Manrope font class
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
