.account-page {
  padding: 20px;
  background-color: #ffffff;
}

.page-header {
  font-size: 30px;
  font-weight: 700;
  color: #122927;
  margin: 0 0 20px 0;
}

.card-account {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  background: #F8FFFE;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  margin-bottom: 15px;
}

.user-photo {
  flex-shrink: 0;

  .avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card-account-infos {
  .user-name {
    margin: 0 0 5px 0;
    font-size: 24px;
    font-weight: 600;
    color: #122927;
  }

  .user-email {
    margin: 0;
    font-size: 14px;
    color: #367C76;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;

  &:hover {
    background-color: #F8FFFE;

    .menu-left i, .menu-left a, .menu-arrow {
      color: #122927;
    }
  }
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 15px;

  i {
    color: #367C76;
    width: 24px;
    text-align: center;
    transition: color 0.2s ease;
  }

  a {
    font-weight: 700;
    color: #367C76;
    text-decoration: none;
    transition: color 0.2s ease;
  }
}

.menu-arrow {
  width: 24px;
  color: #367C76;
  transition: color 0.2s ease;
}

.menu-item-logout {
  padding: 20px 0;
  cursor: pointer;
  transition: background 0.2s ease;

  .menu-left {
    display: flex;
    align-items: center;
    gap: 15px;

    i,
    a {
      color: #367C76;
      transition: color 0.2s ease;
    }
  }

  &:hover {
    background-color: #F8FFFE;

    .menu-left i,
    .menu-left a {
      color: #cc0000;
    }
  }
}
